<header>
    <div class="container">
        <h1 class="animated">Our trip of Life</h1>
        <div class="first-step">
            <p>Pongamonos un poco fluffy's...</p>
            <a href="#">
                <p>Primero da click aquí</p>
            </a>
            <a href="#">
                <p>Continuamos?</p>
            </a>
        </div>
        <div class="second-step">
            <p>Angela, Do you like to be my girlfriend and take this trip?</p>
            <p>Yes! This trip, Our trip of life?</p>
        </div>
    </div>
    <canvas class="background"></canvas>
</header>
<svg class="triangle-down" xmlns="http://www.w3.org/2000/svg" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="triangle" d="M0 0 L50 100 L100 0 Z" />
    <path class="shadow" d="M50 100 L100 40 L100 0 Z"></path>
</svg>