<header>
    <div class="container">
        <h1 class="animated">Our trip of Life</h1>
        <div class="first-step">
            <p>Pongamonos un poco fluffy's...</p>
            <a href="https://youtu.be/DrlrwwsGQ2k" target="_blank">
                <p>Primero da click aquí</p>
            </a>
            <a href="#theQuestion" id="next">
                <p>Continuamos?</p>
            </a>
        </div>
        <div class="second-step hidden">
            <p>I know you recently and since this moment I know you're going to be a very important person for my life.</p>
            <p>I know that I say you this too many times before, but is because I really feel it.</p>
            <p>When you arrive to my life I think my world go inside-out because you make me feel in love with you, with you're form of be and you're personality.</p>
            <p><span>I really, really love you!</span></p>
            <p><span>Angela</span>, Do you like to be my girlfriend and take this trip?</p>
            <p>Yes! This trip, Our trip of life?</p>
        </div>
    </div>
    <canvas class="background"></canvas>
</header>
<svg class="triangle-down" xmlns="http://www.w3.org/2000/svg" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="triangle" d="M0 0 L50 100 L100 0 Z" />
    <path class="shadow" d="M50 100 L100 40 L100 0 Z"></path>
</svg>